PORT=3001

PRODUCTION_MONGO_URI=
DEVELOPMENT_MONGO_URI=

PRODUCTION_REDIS_URL=
DEVELOPMENT_REDIS_URL=redis://db.redis:6379

CACHE_TYPE=redis

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=/purchase-success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=/purchase-cancel
STRIPE_WEBHOOK_SECRET=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_TTL=7d

MAILTRAP_ENDPOINT=
MAILTRAP_TOKEN=
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=E-Commerce-Store

RESET_PASSWORD_URL=reset-password

TOTAL_AMOUNT_FOR_GRANTING_COUPON_DISCOUNT_IN_CENTS=20000
COUPON_DISCOUNT_PERCENTAGE=10

SALT_ROUNDS=10

JSON_LIMIT=10mb

PRODUCTION_CLIENT_URL=
DEVELOPMENT_CLIENT_URL=http://localhost:5173
API_BASE_URL=/api

NODE_ENV=development
SEED_PRODUCTS_ON_STARTUP=false
DROP_DB_ON_STARTUP=false
DROP_STORAGE_ON_STARTUP=false

ADMIN_NAME="Super Admin"
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123456

DUMMY_JSON_PRODUCTS_URL=https://dummyjson.com/products
DUMMY_JSON_PRODUCTS_LIMIT=0
DEFAULT_SEEDER_USER_PASSWORD=123456